* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app {
  min-height: 100vh;
}

@font-face {
  font-family: "merri-reg";
  src: url(../assets/fonts/Merriweather-Regular.ttf);
}
@font-face {
  font-family: "merri-bold";
  src: url(../assets/fonts/Merriweather-Bold.ttf);
}
nav {
  height: 100px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
nav .logo-holder a {
  text-decoration: none;
}
nav .logo-holder a h1 {
  font-size: 40px;
  font-family: merri-reg;
  color: white;
}
nav .links {
  width: 40%;
}
nav .links ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
nav .links ul a {
  text-decoration: none;
  color: white;
}

footer {
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .splash {
  padding: 40px;
  height: 300px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.568), rgba(255, 255, 255, 0.918), rgba(255, 255, 255, 0.329)), url(../assets/images/fruit-cupcake.jpg);
  background-position: 50% 57%;
  background-size: cover;
  background-repeat: no-repeat;
}
.home .splash h1 {
  font-family: merri-reg;
}
.home .splash p {
  font-family: merri-reg;
  font-size: 16px;
}
.home .new-item-section {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .new-item-section .new-holder {
  width: 1000px;
  font-family: merri-reg;
}
.home .new-item-section .new-holder p {
  font-size: 20px;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}
.home .new-item-section .new-holder .items-box {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.home .new-item-section .new-holder .items-box .item {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.home .new-item-section .new-holder .items-box .item .img-holder {
  height: 250px;
  width: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
}
.home .new-item-section .new-holder .items-box .item .img1 {
  background-image: url(../assets/images/concha.jpg);
}
.home .new-item-section .new-holder .items-box .item .img2 {
  background-image: url(../assets/images/donuts.jpg);
}
.home .new-item-section .new-holder .items-box .item .img3 {
  background-image: url(../assets/images/jes-cake.jpg);
}
.home .new-item-section .new-holder .items-box .item p {
  font-size: 13px;
  border-bottom: none;
}
.home .new-item-section .new-holder .items-box .item .button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  color: white;
  background-color: rgb(68, 36, 32);
  font-family: merri-bold;
  font-size: 17px;
}
.home .new-item-section .new-holder .items-box .item .button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.pastries {
  padding: 40px;
}
.pastries .item-section {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pastries .item-section .item-section-holder {
  width: 1000px;
  font-family: merri-reg;
}
.pastries .item-section .item-section-holder p {
  border-bottom: 2px solid black;
  font-size: 20px;
  padding-bottom: 10px;
}
.pastries .item-section .item-section-holder .items-box {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
}
.pastries .item-section .item-section-holder .items-box .item {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 25px 2px;
}
.pastries .item-section .item-section-holder .items-box .item .img-holder {
  height: 250px;
  width: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
}
.pastries .item-section .item-section-holder .items-box .item .new-item1 {
  background-image: url(../assets/images/concha.jpg);
}
.pastries .item-section .item-section-holder .items-box .item .new-item2 {
  background-image: url(../assets/images/donuts.jpg);
}
.pastries .item-section .item-section-holder .items-box .item .new-item3 {
  background-image: url(../assets/images/jes-cake.jpg);
}
.pastries .item-section .item-section-holder .items-box .item .item1 {
  background-image: url(../assets/images/fruit-cupcake.jpg);
}
.pastries .item-section .item-section-holder .items-box .item .item2 {
  background-image: url(../assets/images/small-choc.jpg);
}
.pastries .item-section .item-section-holder .items-box .item .item3 {
  background-image: url(../assets/images/strwb-choc-cake.jpg);
}
.pastries .item-section .item-section-holder .items-box .item .item4 {
  background-image: url(../assets/images/tira-cake.jpg);
}
.pastries .item-section .item-section-holder .items-box .item .item5 {
  background-image: url(../assets/images/trp-choc-cake.jpg);
}
.pastries .item-section .item-section-holder .items-box .item .item6 {
  background-image: url(../assets/images/velvet-cupcake.jpg);
}
.pastries .item-section .item-section-holder .items-box .item p {
  font-size: 13px;
  border-bottom: none;
}
.pastries .item-section .item-section-holder .items-box .item .button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  color: white;
  background-color: rgb(68, 36, 32);
  font-family: merri-bold;
  font-size: 17px;
}
.pastries .item-section .item-section-holder .items-box .item .button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.about {
  min-height: 100vh;
  padding: 40px;
  background-image: linear-gradient(rgba(119, 119, 119, 0.425), rgba(119, 119, 119, 0.425)), url(../assets/images/ingredients.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.about section .container {
  width: 60%;
}
.about section .container h1 {
  font-family: merri-reg;
}
.about section .container h2 {
  font-family: merri-reg;
  font-size: 20px;
}
.about section .container p {
  font-family: merri-reg;
  font-size: 16px;
}
.about section img {
  width: 40%;
}
.about .first-section .container {
  margin-right: 20px;
}
.about .second-section {
  text-align: right;
}
.about .second-section .container {
  margin-left: 20px;
}
.about .third-section img {
  width: 20%;
  margin-right: 150px;
}

.contact {
  padding: 40px;
  height: 100vh;
  background-image: linear-gradient(rgba(187, 187, 187, 0.603), rgba(80, 80, 80, 0.411)), url(../assets/images/flour-heart.jpg);
  background-position: 50% 30%;
  background-size: cover;
}
.contact h1 {
  font-family: merri-reg;
}
.contact p {
  font-family: merri-reg;
  font-size: 16px;
}

.info-updates {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: merri-reg;
}
.info-updates h1 {
  font-family: merri-reg;
  margin-bottom: 50px;
}
.info-updates p {
  font-size: 16px;
}
.info-updates .info {
  margin-bottom: 30px;
}
.info-updates img {
  height: 400px;
}
