.about {
  min-height: 100vh;
  padding: 40px;
  background-image: linear-gradient(
      rgba(119, 119, 119, 0.425),
      rgba(119, 119, 119, 0.425)
    ),
    url(../assets/images/ingredients.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    .container {
      width: 60%;

      h1 {
        font-family: merri-reg;
      }
    }

    img {
      width: 40%;
    }
  }

  .first-section {
    .container {
      margin-right: 20px;
    }
  }

  .second-section {
    text-align: right;

    .container {
      margin-left: 20px;
    }
  }

  .third-section {
    img {
      width: 20%;
      margin-right: 150px;
    }
  }
}
