.products {
  padding: 40px;

  .item-section {
    margin-bottom: 40px;
    // background-color: rgb(0, 183, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .item-section-holder {
      // background-color: brown;
      width: 1000px;
      font-family: merri-reg;

      p {
        border-bottom: 2px solid black;
        font-size: 20px;
        padding-bottom: 10px;
      }

      .items-box {
        display: flex;
        justify-content: space-between;

        margin-top: 20px;
        flex-wrap: wrap;

        .item {
          width: 250px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          margin: 25px 2px;

          .img-holder {
            height: 250px;
            width: 250px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-bottom: 10px;
          }

          // new item section images
          .new-item1 {
            background-image: url(../assets/images/concha.jpg);
          }
          .new-item2 {
            background-image: url(../assets/images/donuts.jpg);
          }
          .new-item3 {
            background-image: url(../assets/images/jes-cake.jpg);
          }

          // main item section images
          .item1 {
            background-image: url(../assets/images/fruit-cupcake.jpg);
          }

          .item2 {
            background-image: url(../assets/images/small-choc.jpg);
          }

          .item3 {
            background-image: url(../assets/images/strwb-choc-cake.jpg);
          }

          .item4 {
            background-image: url(../assets/images/tira-cake.jpg);
          }

          .item5 {
            background-image: url(../assets/images/trp-choc-cake.jpg);
          }

          .item6 {
            background-image: url(../assets/images/velvet-cupcake.jpg);
          }

          p {
            font-size: 13px;
            border-bottom: none;
          }

          .button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 40px;
            border-radius: 10px;
            color: white;
            background-color: rgb(68, 36, 32);
            font-family: merri-bold;
            font-size: 17px;
          }

          .button:hover {
            background-color: rgba(0, 0, 0, 0.5);
          }
        }
      }
    }
  }
}
